[data-theme='default'] {
    --prime-color: #202b38;
    --text-color: #ffffff;
    --second-color: #161f27;
    --third-color: #415771;
    
  }
  [data-theme='aqua'] {
      --prime-color: #00B4D8;
      --second-color: #90E0EF;
      --third-color: #0077B6;
      --text-color: #03045E;
    
  }
  
  [data-theme='nordic'] {
      --prime-color: #52796F;
      --second-color: #84A98C;
      --third-color: #354F52;
      --text-color: #2F3E46;
    
  }
  [data-theme='lightly'] {
      --prime-color: darkgray;
      --second-color: white;
      --third-color: darkslategray;
      --text-color: black; 
  }