/* GENERAL STYLES */

:root {
  --prime-color: #202b38;
  --second-color: #161f27;
  --third-color: #415771;
  --text-color: white;
  --prime-font: Candara, Arial, serif;
  --spacing: 3px;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--prime-color);
  font-family: var(--prime-font);
}

/* COMPONENT STYLES */

.wrapper {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.toolbar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--spacing);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.toolbar::-webkit-scrollbar {
  display: none;
}

.toolbar__button  {
  flex: none;
  background-color: var(--second-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  outline: 0;
  border: 0;
  border-radius: var(--spacing);
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  padding: var(--spacing);
  margin: var(--spacing);
  scroll-snap-align: start;
}

.toolbar__button:hover {
  background-color: var(--third-color);
}

.textedit {
  flex-grow: 2;
  background-color: var(--second-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: 1.3rem;
  border-radius: calc(var(--spacing)*2);
  border-color: var(--third-color);
  outline: 0;
  resize: none;
  padding: 0.5rem;
  margin: var(--spacing);
  scrollbar-width: thin;
}

.textedit::-webkit-scrollbar {
  width: calc(var(--spacing)*2);
}

.textedit::-webkit-scrollbar-track {
  background: var(--third-color);
}

.textedit::-webkit-scrollbar-thumb {
  background: var(--prime-color);
  border-radius: 999px;
}

.textedit::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

@media screen and (min-width: 500px) {
  .toolbar {
    justify-content: center;
  }

  .textedit {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .textedit {
    font-size: 1.7rem;
  }
}