@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-font: Candara, Arial, serif;
  --spacing: 3px;

  --prime-color: #202b38;
    --text-color: #ffffff;
    --second-color: #161f27;
    --third-color: #415771;
}



html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--text-color);
  background: 
    var(--prime-color);
  overflow: hidden;
  font-family: var(--prime-font);
}


/* Scrollbar */
html:focus-within {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: calc(var(--spacing)*2);
  height: calc(var(--spacing)*2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--prime-color);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--third-color);
}

button{
  flex:none;
  outline: none;
  border: none;
  scroll-snap-align: start;
}